@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;800&display=swap");

* {
  font-family: "Manrope", sans-serif !important;
}

a {
  color: var(--colorPrimary) !important;
}

a:visited {
  color: var(--colorPrimary) !important;
}

::selection {
  background-color: #000000 !important;
  color: #ffffff !important;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light {
  font-weight: 200 !important;
}

.medium {
  font-weight: 500 !important;
}

.bold {
  font-weight: 800 !important;
}
